body {
    background-color: powderblue;
    color: #A462BA;
}
a {color:#B685C6;}
.myHeader {
  background-color: #94D8DD;
  color: #A462BA;
  padding: 40px;
  text-align: center;
} 
#shahar{width : 900px; background-color: white}

#myHeader {background-color:white; width :900px;height:90px}